<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

  <!-- full-width footer -->
  <footer class="w-full bg-white">
    <div class="max-w-screen-xl w-full mx-auto px-6 py-6 flex items-center justify-center" style="filter: drop-shadow(0px -1px 0px #e4ebf3);">
      <p class="text-sm text-center text-[#333]">Copyright © 2022 Company name</p>
    </div>
  </footer>

</div>
    
</body>
</html>